body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, rgba(52, 54, 121), rgba(12, 135, 151));
}
.snow {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  z-index: 99;
}

.snow span {
  position: relative;
  min-width: 5px;
  min-height: 5px;
  background-color: aqua;
  border-radius: 50%;
  margin: 0 1vw;
  box-shadow: -100px 20px 5px #fff, 100px 20px 10px #fff;
  animation: animateSnow 15s linear infinite;
  animation-duration: calc(105s / var(--i));
}

.snow span:nth-child(even) {
  min-width: 10px;
  min-height: 10px;
}
@keyframes animateSnow {
  0% {
    transform: translateY(-10vh);
  }

  100% {
    transform: translateY(100vh);
  }
}

.darkMode {
  position: absolute;
  right: 0;
  margin-right: 3rem;
  cursor: pointer;
}
.icon {
  width: 70px;
  height: 70px;
  color: #fff;
  font-size: 3em;
  text-align: center;
  transform: rotate(88deg);
}

.calc {
  box-shadow: 0px 0px 20px #fff;
  border-radius: 15px;
  padding: 30px;
}

.container {
  display: grid;
  place-content: center;
  background-image: linear-gradient(to bottom right, rgba(52, 54, 121), rgba(12, 135, 151));
  width: 100%;
  height: 100vh;
}
.textView {
  width: 320px;
  margin-bottom: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
  padding: 10px;
  outline: 0;
  font-size: 1.6em;
}

button:hover {
  box-shadow: 0 0 5px #999;
}
.btn-number,
.btn-operator {
  width: 80px;
  height: 70px;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  margin: 3px;
  cursor: pointer;
  font-size: 1.2em;
  background-color: cadetblue;
  color: white;
}

.btn-operator {
  background-color: blanchedalmond;
  color: #222;
}

.btn-two {
  width: 170px;
}
.btn-equal {
  width: 80px;
  cursor: pointer;
  height: 150px;
  border: none;
  outline: 0;
  border-radius: 15px;
  font-size: 2em;
  background-color: green;
  color: white;
  font-weight: 800;
}
